<div class="about-page-header">
  <h1 class="text-box">My name is Jeremiah Kellick. I make websites.</h1>
</div>
<div class="basic-content-container">
  <h1 class="bold-header center">My Story</h1>
  <p>
    I make websites for businesses in Meadville, PA. I started computer programming in the fourth grade. In sixth grade I won first place in a high school programming contest hosted by Gannon University. Around that same time I started making websites. By 2017 I was really good at it so I decided to turn my hobby into a business.
  </p>
</div>
<div class="basic-content-container">
  <h1 class="bold-header center">How I Can Help You</h1>
  <p>
    Having an online presence it critical for all businesses. Often, people will search for what they need online. If your website isn't up to par, you are losing potential customers.
  </p>
  <p>
    There are website builders available that allow anyone to build a website without prior experience. If you are on a very limited budget then I recommend you go that route. However, this is not advisable for a serious businesses. The final product often looks bad or is missing features such as working well on mobile devices.
  </p>
  <p>
    I am equipped to build you a professional grade website or web application. Your options will not be limited. You get to choose exactly how you want your webiste to look and function.
  </p>
</div>
<div class="home-page-bottom flex-center center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="call-to-action">
        Ready to start on your website?<br>
        <a href="<%= contact_path %>" class="btn btn-lg btn-primary">Get a free quote.</a>
      </div>
    </div>
  </div>
</div>