<div class="about-page-header">
  <h1 class="animated zoom-in hero-text">My name is Jeremiah Kellick. I make websites.</h1>
</div>
<div class="container">
  <div class="basic-content-container">
    <h1 class="bold-header center">My Story</h1>
    <div class="padding"></div>
    <p>
      I started computer programming in the fourth grade. In sixth grade I won first place in a high school programming contest hosted by Gannon University. Around that same time I started making websites. By 2017 I was really good at it so I decided to turn my hobby into a business.
    </p>
  </div>
  <div class="basic-content-container">
    <h1 class="bold-header center">How I Can Help You</h1>
    <div class="padding"></div>
    <p>
      I make websites for businesses in Meadville, PA. Having an online presence is critical. Often, people will search for what they need online. If your website isn't up to par, you are losing potential customers.
    </p>
    <p>
      There are website builders available that allow anyone to build a website without prior experience. If you are on a very limited budget then I recommend you go that route. However, this is not advisable for a serious businesses. The final product often looks generic and is missing features.
    </p>
    <p>
      I am equipped to build you a professional grade website or web application. Your options will not be limited. You get to choose exactly how you want your webiste to look and function.
    </p>
  </div>
</div>
<div class="dark-bg-content"><div class="container">
  <div class="center padded">
    <h1 class="color1-bright bold-header">Ready to start on your website?</h1>
    <a href="<%= contact_path %>" class="colored-call-to-action-btn">Get a quote.</a>
  </div>
</div></div>