<div class="home-page-top">
  <table class="table-center"><tr><td>
    <div class="text-box">
      <h1>What if your website could be...</h1>
    </div>
  </td></tr></table>
</div>
<div class="row features">
  <div class="col-md-6 col-lg-4">
    <div class="box">
        <%= image_tag 'maintainable.svg', class: 'icon-img' %>
        <h1 class="center">Maintainable</h1>
        Having a web designer maintain all your website's information can be expensive. Manage content yourself through a CMS with an easy to use interface.
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="box">
        <%= image_tag 'responsive.svg', class: 'icon-img' %>
        <h1 class="center">Responsive</h1>
        Half of internet users are on a mobile device. It is critical for your website to function just as well on mobile devices as it does on desktops.
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="box">
        <%= image_tag 'appealing.svg', class: 'icon-img' %>
        <h1 class="center">Beautiful</h1>
        You want your website to look great. If your website looks bad, it will make your business look bad.
    </div>
  </div>
</div>
<div class="home-page-bottom">
  <table class="table-center"><tr><th>
    <h1>...and only cost you around $---?<br><br></h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="call-to-action">
          Interested?<br>
          <button class="btn btn-lg btn-primary">Tell us about your project.</button>
        </div>
      </div>
    </div>
  </th></tr></table>
</div>
<div class="light-bg-content center">

</div>