<%= render 'shared/basic_body' do %>
  <div class="center">
    <h1>Your website needs to be:</h1>
  </div>
<% end %>
<div class="row">
  <div class="col-md-4 yellow-col">
    <div class="box">
      <%= image_tag 'maintainable.svg', class: 'icon-img' %>
      <div style="background: #FF7A; padding: 6px; border-radius: 6px;">
        <h1 class="center">Maintainable</h1>
        Websites need to display up-to-date information in order to be effective. Having a web desiner mantain all your website's information can be expensive. The solution is a content management system (CMS). A CMS provides an easy-to-use interface to edit the content of your website.
      </div>
    </div>
  </div>
  <div class="col-md-4 blue-col">
    <div class="box">
      <%= image_tag 'responsive.svg', class: 'icon-img' %>
      <div style="background: #5AFA; padding: 6px; border-radius: 6px;">
        <h1 class="center">Responsive</h1>
        Half of internet users are on a mobile device. It is critical for your website to function just as well on mobile devices as it does on desktops.
      </div>
    </div>
  </div>
  <div class="col-md-4 orange-col">
    <div class="box">
      <%= image_tag 'appealing.svg', class: 'icon-img' %>
      <div style="background: #FF9960AA; padding: 6px; border-radius: 6px;">
        <h1 class="center">Appealing</h1>
        Of course you want your website to look great. If your website looks bad, it will make your business look bad.
      </div>
    </div>
  </div>
</div>
<div class="light-bg-content padded row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="center" style="margin: 14px 0;">Get all three and more!</h1>
    <button class="btn btn-lg btn-primary contact-btn">Tell us about your project.</button>
  </div>
</div>