<%= render 'shared/basic_body' do %>
  <div class="center">
    <h1>We create websites that are:</h1>
  </div>
<% end %>
<div class="dark-bg-content">
  <div class="row border-between">
    <div class="col-md-4">
      <h1 class="center">Responsive</h1>
      Our sites look and function great across all platforms.
    </div>
    <div class="col-md-4">
      <h1 class="center">Maintainable</h1>
      We in include a CMS in all of our websites. That means anyone, not just a web designer, will be able to edit the content of your website in an easy-to-use interface.
    </div>
    <div class="col-md-4">
      <h1 class="center">Affordable</h1>
      We charge around $2,500 per website. This is half of what a typical web agency will charge you.
    </div>
  </div>
</div>