<div class="small-header"></div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 padded">
    <h2 class="center"><a href="https://bullfrogwebsites.com/pasandwichcompany">The Pennsylvania Sandwich Company</a></h2>
    <div class="flex-center">
      <%= image_tag 'pa_sandwich_company.jpg', class: "website-image", alt: "Pennsylvania Sandwich Company website" %>
    </div>
    <p>
      This is under construction. You can view the work in progress at <br>
      <a href="https://bullfrogwebsites.com/pasandwichcompany">bullfrogwebsites.com/<wbr>pasandwichcompany</a>
    </p>
    <p>
      
    </p>
  </div>
</div>
<div class="dark-bg-content"><div class="container">
  <div class="center padded">
    <h1 class="color1-bright bold-header">Ready to start on your website?</h1>
    <a href="<%= contact_path %>" class="colored-call-to-action-btn">Get a quote</a>
  </div>
</div></div>