@import "custom_navbar";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.table-center {
  width: 100%;
  height: 100%;
  th {
    vertical-align: center;
    text-align: center
  }
}

body {
  background: $background-color;
}

.alert {
  margin: 5px;
}

.content {
  padding: 0;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', Sans;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 32px;
  }
  h1 {
    margin: 0;
    padding: 5px 0;
  }
  .features > [class*='col-'] {
    padding: 60px 20px;
    h1 {
      font-weight: bold;
    }
  }
}

.border-between > [class*='col-'] {
  &:before {
    background: #000;
    left: 5%;
    content: " ";
    position: absolute;
    width: 90%;
    height: 1px;
    right: 0;
    top: 0;
  }
  &:first-child:before, &:last-child:after {
    display: none;
  }
  @media (min-width: $grid-float-breakpoint) {
    &:after {
      background: #FFF;
      bottom: 0;
      content: " ";
      position: absolute;
      width: 1px;
      top: 0;
    }
    &:before {
      left: 0;
      width: 1px;
      height: 100%;
    }
    &:after {
      right: -1px;
    }
  }
}

.row {
  margin: 0;
}

.center {
  text-align: center;
}

.contact-btn {
  font-size: 18px;
  width: 100%;
  margin: 10px 0;
}

.light-bg-content {
  color: $light-bg-text-color;
  background: $light-bg;
}

.dark-bg-content {
  color: $dark-bg-text-color;
  background: $dark-bg;
}

.padded {
  padding: 10px;
}

.navbar-logo {
  width: $navbar-height - 10px;
  height: $navbar-height - 10px;
  @media (min-width: $grid-float-breakpoint) {
    width: $navbar-desktop-height - 16px;
    height: $navbar-desktop-height - 16px;
  }
}

.box {
  overflow: auto;
  @media only screen and (max-width : $screen-md - 1px) {
    height: auto !important;
  }
} 

.navbar {
  border-bottom: 0;
  background-color: $navbar-color;
}

.navbar-default .navbar-nav {
  font-size: 125%;
  font-family: 'Open Sans', Sans;
  li a {
    color: black;
    &:hover, &:focus {
      color: $tertiary-color;
    }
    @media (min-width: $grid-float-breakpoint) {
      color: white;
      &:hover, &:focus {
        color: $tertiary-color;
      }
    }
  }
  margin: 0;
  @media (min-width: $grid-float-breakpoint) {
    margin: 0;
  }
}

.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  .icon-bar {
    background-color: white;
  }
}

.navbar-toggle {
  border: none;
}

.navbar-nav > li > a {
  @media (min-width: $grid-float-breakpoint) {
    font-size: 150%;
  }
}

.navbar-brand-table {
  height: $navbar-height;
  color: white;
  font-family: 'Open Sans', Sans;
  font-weight: normal;
  font-size: $navbar-height - 32px;
  line-height: 100%;
  th {
    height: $navbar-height;
    font-weight: normal;
  }
  @media (min-width: $grid-float-breakpoint) {
    height: $navbar-desktop-height;
    font-size: $navbar-desktop-height - 40px;
    th {
      height: $navbar-desktop-height;
    }
  }
}

.container {
  padding: 0;
}

.top {
  overflow: auto;
  margin: 0;
  padding-top: $navbar-height;
  @media (min-width: $grid-float-breakpoint) {
    padding-top: $navbar-desktop-height;
  }
}

.navbar.navbar-default.navbar-fixed-top {
  margin: 0;
}

.home-page-top {
  height: 100vh;
  text-align: center;
  color: #fff;
  color: white;
  background: black;
  background-image: image-url("lake.jpg");
  background-size: cover;
  h1 {
    font-family: 'Merriweather', Sans;
    font-size: 30px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 70px;
    }
  }
  .text-box {
    max-width: 700px;
    border-radius: 18px;
    //background:rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px 18px;
  }
}

.home-page-bottom {
  height: 100vh;
  color: white;
  background: $primary-color;
  h1 {
    font-family: 'Merriweather', Sans;
    font-size: 30px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 75px;
    }
  }
  .text-box {
    max-width: 700px;
    border-radius: 18px;
    display: inline-block;
    padding: 10px 18px;
  }
}

.call-to-action {
  overflow: auto;
  padding: 20px;
  font-size: 150%;
  button {
    font-size: 60%;
    margin-top: 30px;
    width: 100%;

    background: $dark-secondary-color;
    border: 0;
    &:hover, &:focus {
      background: $darker-secondary-color;
    }
  }
}

.icon-img {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  display: block;
}

.bright-primary-color {
  color: $bright-primary-color;
}