.navbar-nav > li > a {
  @media (min-width: $grid-float-breakpoint) {
    padding-top: 0;
    padding-bottom: 0;
    line-height: $navbar-desktop-height;
  }
}

@mixin navbar-vertical-align($element-height) {
  margin-top: (($navbar-height - $element-height) / 2);
  margin-bottom: (($navbar-height - $element-height) / 2);
  @media (min-width: $grid-float-breakpoint) {
    margin-top: (($navbar-desktop-height - $element-height) / 2);
    margin-bottom: (($navbar-desktop-height - $element-height) / 2);
  }
}

.navbar {
  min-height: $navbar-height;
  @media (min-width: $grid-float-breakpoint) {
    min-height: $navbar-desktop-height;
  }
  font-family: sans;
}

.navbar-brand {
  padding: 0 $navbar-padding-horizontal;
  height: $navbar-height;
  @media (min-width: $grid-float-breakpoint) {
    //padding: $navbar-desktop-padding-vertical $navbar-padding-horizontal;
    padding: 0 $navbar-padding-horizontal;
    height: $navbar-desktop-height;
  }
}

.navbar-absolute-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-collapse {
  background: white;
  @media (min-width: $grid-float-breakpoint) {
    background: $navbar-color;
  }
}