@import "custom_navbar";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.dont-animate-yet {
  -webkit-animation: none !important;
  visibility: hidden;
}

.animated {
  animation-play-state: paused;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-parent {
  .animated-child {
    animation-play-state: paused;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .in-view {
    animation-play-state: running;
  }
}

.in-view {
  animation-play-state: running;
}

@keyframes zoom-in {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
    transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}

.zoom-in {
  animation-name: zoom-in;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation-name: fade-in-left;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  animation-name: fade-in-right;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation-name: fade-in-up;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  animation-name: fade-in-down;
}

.collapsing {
  -webkit-transition: height .1s ease;
       -o-transition: height .1s ease;
          transition: height .1s ease;
}

.g-recaptcha {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  @media (max-width: $screen-sm-min) {
    transform: scale(0.8)
  }
}

.block-center {
  display: block;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    width: 100%;
  }
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between-except-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $grid-float-breakpoint) {
    justify-content: center;
  }
}

.mobile-order-1 {
  @media (max-width: $grid-float-breakpoint) {
    order: 1;
  }
}

.mobile-order-2 {
  @media (max-width: $grid-float-breakpoint) {
    order: 2;
  }
}

.display-image {
  width: 200px;
  height: 200px;
  @media (min-width: $grid-float-breakpoint) {
    width: 370px;
    height: 370px;
  }
  @media (min-width: $screen-lg-min) {
    width: 450px;
    height: 450px;
  }
  @media (max-width: $grid-float-breakpoint) {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
  }
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.icon img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

$icon-zoom-style: ease;
$icon-zoom-duration: 0.25s;

.icon-zoom img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  -webkit-transition: all $icon-zoom-duration $icon-zoom-style; /* Safari and Chrome */
  -moz-transition: all $icon-zoom-duration $icon-zoom-style; /* Firefox */
  -o-transition: all $icon-zoom-duration $icon-zoom-style; /* IE 9 */
  -ms-transition: all $icon-zoom-duration $icon-zoom-style; /* Opera */
  transition: all $icon-zoom-duration $icon-zoom-style;
}

.icon-zoom img:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

.width-50-percent {
  @media (min-width: $grid-float-breakpoint) {
    width: 50%;
  }
}

textarea.form-control {
  height: 100px;
}

.form-control {
  width: 100%;
  padding: 0;
}

.my-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  input[type="checkbox"] {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
  }
  div {
    font-weight: normal;
  }
}

.field_with_errors {
  display: inline;
  .form-control {
    border: 2px solid red;
    &:focus {
      border: 2px solid #BF0000;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.5);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.5);
    }
  }
}

.flex-stretcher {
  display: flex;
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.basic-content-container {
  @extend .padded;
}

.table-center {
  width: 100%;
  height: 100%;
  min-height: 100%;
  th {
    vertical-align: center;
    text-align: center
  }
}

body {
  background: $background-color;
  font-size: 16px;
  font-family: 'Roboto', Sans;
  line-height: 1.48;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.48;
}

html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.no-overflow {
  overflow-x: hidden;
}

.hidden-overflow {
  overflow: hidden;
}

.alert {
  margin: 5px;
}

.content {
  padding: 0;
  color: $text-color;
  a {
    color: $link-color;
  }
  .btn {
    color: white;
  }
  .flex-stretcher > [class*='col-'] {
    @extend .padded;
    h1 {
      font-weight: bold;
      padding: ($mobile-padding / 2) 0;
      @media (min-width: $grid-float-breakpoint) {
        padding: ($desktop-padding / 2) 0;
      }
    }
  }
  .bold-header {
    font-weight: bold;
  }
  
  // font-size
  font-size: 1em;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 1.25em
  }
  h1, .h1 {
    //font-family: 'Merriweather', Sans;
    font-weight: 900;
    margin: 0;
    font-size: 1.4em;
  }
  .hero-text {
    @extend .h1;
    @media (min-width: $screen-sm-min) {
      font-size: 3em;
    }
    max-width: 700px;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    @media (min-width: $grid-float-breakpoint) {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
    }
  }
}

.width-restrictor {
  max-width: 850px;
  margin: auto;
}

.navbar li {
  @media (min-width: $grid-float-breakpoint) {
    font-size: 1.3em;
  }
}

.border-between-sm > [class*='col-'] {
  &:before {
    background: #000;
    left: 5%;
    content: " ";
    position: absolute;
    width: 90%;
    height: 1px;
    right: 0;
    top: 0;
  }
  &:first-child:before, &:last-child:after {
    display: none;
  }
  @media (min-width: $screen-sm-min) {
    &:after {
      background: #FFF;
      bottom: 0;
      content: " ";
      position: absolute;
      width: 1px;
      top: 0;
    }
    &:before {
      left: 0;
      width: 1px;
      height: 100%;
    }
    &:after {
      right: -1px;
    }
  }
}

.row {
  margin: 0;
}

.center {
  text-align: center;
}

.contact-btn {
  width: 100%;
  margin: 10px 0;
}

.light-bg-content {
  color: $light-bg-text-color;
  background: $light-bg;
}

.dark-bg-content {
  color: $dark-bg-text-color;
  background: $dark-bg;
}

.padded {
  padding: $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding: $desktop-padding;
  }
}

.padded-vertically {
  padding-top: $mobile-padding;
  padding-bottom: $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding-top: $desktop-padding;
    padding-bottom: $desktop-padding;
  }
}

.padded-horizontally {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.padding {
  height: $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    height: $desktop-padding;
  }
}

.flashes {
  padding: $mobile-padding 0;
}

.navbar-logo {
  width: $navbar-height - 10px;
  height: $navbar-height - 10px;
  @media (min-width: $grid-float-breakpoint) {
    width: $navbar-desktop-height - 16px;
    height: $navbar-desktop-height - 16px;
  }
}

.navbar {
  border-bottom: 0;
  background-color: $navbar-color;
}

.navbar-default .navbar-nav {
  font-family: 'Roboto', Sans;
  li a {
    color: $text-color;
    &:hover, &:focus {
      color: $color2;
    }
    @media (min-width: $grid-float-breakpoint) {
      color: white;
    }
  }
  margin: 0;
  @media (min-width: $grid-float-breakpoint) {
    margin: 0;
  }
}

.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  .icon-bar {
    background-color: white;
  }
}

.navbar-toggle {
  border: none;
}

.navbar-brand-table {
  height: $navbar-height;
  color: white;
  font-family: 'Roboto', Sans;
  font-weight: normal;
  font-size: $navbar-height - 32px;
  line-height: 100%;
  th {
    height: $navbar-height;
    font-weight: normal;
  }
  @media (min-width: $grid-float-breakpoint) {
    height: $navbar-desktop-height;
    font-size: $navbar-desktop-height - 40px;
    th {
      height: $navbar-desktop-height;
    }
  }
}

.display-glyphicon {
  font-size: 350px;
}

.container {
  padding: 0;
}

.container.padded {
  padding: $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding: $desktop-padding;
  }
}

.top {
  overflow: auto;
  margin: 0;
  padding-top: $navbar-height;
  @media (min-width: $grid-float-breakpoint) {
    padding-top: $navbar-desktop-height;
  }
}

.navbar.navbar-default.navbar-fixed-top {
  margin: 0;
}

.basic-header {
  @extend .page-min-height;
  @extend .flex-center;
  padding: (3 * $mobile-padding) $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding: (3 * $desktop-padding) $desktop-padding;
  }
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center center;
  @media (min-width: $screen-lg-min) {
    background-attachment: fixed;
  }
  background-color: $color1-very-dark;
}

.home-page-header {
  @extend .basic-header;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: image-url("hero-image.svg");
}

.about-page-header {
  @extend .basic-header;
  background-image: image-url("code.jpg");
}

.home-page-bottom {
  @extend .padded;
  min-height: 100vh;
  color: white;
  background: black;
  h1 {
    font-family: 'Merriweather', Sans;
  }
  .text-box {
    max-width: 700px;
    border-radius: 18px;
    display: inline-block;
    padding: 10px 18px;
  }
}

.icon-img {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  display: block;
}

.page-min-height {
  min-height: 100vh;
}

.features-top-parent {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.color1-bright {
  color: $color1-bright;
}

.color1 {
  color: $color1;
}

.color1-bg {
  background: $color1;
  color: white;
}

.color2 {
  color: $color2;
}

.color2-dark {
  color: $color2-dark;
}

.color3 {
  color: $color3;
}

.color4 {
  color: $color4;
}

.grey-light {
  color: $grey-light;
}

.bold {
  font-weight: bold;
}

.small-header {
  background: $color1;
  height: $navbar-height;
  @media (min-width: $grid-float-breakpoint) {
    height: $navbar-desktop-height;
  }
}

@mixin call-to-action {
  margin: 20px auto;
  display: block;
  width: 215px;
  @media (min-width: $grid-float-breakpoint) {
    width: 300px;
  }
  border-radius: 2em;
  padding: 10px;
  border: 2px solid #888;
  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}

.call-to-action-btn {
  @include call-to-action;
  border: 2px solid white;
  color: white;
  &:hover, &:focus {
    background: white;
  }
}

a.call-to-action-btn {
  color: white;
}

.colored-call-to-action-btn {
  @include call-to-action;
  border: 2px solid $color1-bright;
  color: $color1-bright;
  &:hover, &:focus {
    background: $color1-bright;
  }
}

a.colored-call-to-action-btn {
  color: $color1-bright;
}

.light-grey-call-to-action-btn {
  @include call-to-action;
  border: 2px solid $grey-light;
  color: $grey-light;
  &:hover, &:focus {
    background: $grey-light;
  }
}

a.light-grey-call-to-action-btn {
  color: $grey-light;
}

.black-bg {
  min-height: 100vh;
  background: black;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.website-image {
  -moz-box-sizing:    content-box;
  -webkit-box-sizing: content-box;
  box-sizing:         content-box;
  padding: $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding: $desktop-padding;
  }
  height: 500px;
  max-height: 80vh;
  width: auto;
  margin: auto;
}

.actions input {
  @extend .btn;
  @extend .btn-primary;
}

input {
  @extend .form-control;
}

.field {
  margin-bottom: 10px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.navbar .container {
  padding: 0 $mobile-padding;
  @media (min-width: $grid-float-breakpoint) {
    padding: 0 $desktop-padding;
  }
}

.block {
  display: block;
}

.large-centered {
  margin: 15px 0;
  font-size: 2em;
  text-align: center;
}

.btn-stop {
  @include button-variant(#FFF, $stop-color, darken($stop-color, 30%));
}
