@import "custom_navbar";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.table-center {
  width: 100%;
  height: 100%;
  min-height: 100%;
  th {
    vertical-align: center;
    text-align: center
  }
}

body {
  background: $background-color;
}

html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.alert {
  margin: 5px;
}

.content {
  padding: 0;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', Sans;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 32px;
  }
  h1 {
    margin: 0;
    padding: 5px 0;
  }
  .features > [class*='col-'] {
    padding: 60px 50px;
    h1 {
      font-weight: bold;
    }
  }
}

.border-between > [class*='col-'] {
  &:before {
    background: #000;
    left: 5%;
    content: " ";
    position: absolute;
    width: 90%;
    height: 1px;
    right: 0;
    top: 0;
  }
  &:first-child:before, &:last-child:after {
    display: none;
  }
  @media (min-width: $grid-float-breakpoint) {
    &:after {
      background: #FFF;
      bottom: 0;
      content: " ";
      position: absolute;
      width: 1px;
      top: 0;
    }
    &:before {
      left: 0;
      width: 1px;
      height: 100%;
    }
    &:after {
      right: -1px;
    }
  }
}

.row {
  margin: 0;
}

.center {
  text-align: center;
}

.contact-btn {
  font-size: 18px;
  width: 100%;
  margin: 10px 0;
}

.light-bg-content {
  color: $light-bg-text-color;
  background: $light-bg;
}

.dark-bg-content {
  color: $dark-bg-text-color;
  background: $dark-bg;
}

.padded {
  padding: 10px;
}

.navbar-logo {
  width: $navbar-height - 10px;
  height: $navbar-height - 10px;
  @media (min-width: $grid-float-breakpoint) {
    width: $navbar-desktop-height - 16px;
    height: $navbar-desktop-height - 16px;
  }
}

.box {
  overflow: auto;
  @media only screen and (max-width : $screen-md - 1px) {
    height: auto !important;
  }
} 

.navbar {
  border-bottom: 0;
  background-color: $navbar-color;
}

.navbar-default .navbar-nav {
  font-size: 125%;
  font-family: 'Open Sans', Sans;
  li a {
    color: black;
    &:hover, &:focus {
      color: $color2;
    }
    @media (min-width: $grid-float-breakpoint) {
      color: white;
      &:hover, &:focus {
        color: $color2;
      }
    }
  }
  margin: 0;
  @media (min-width: $grid-float-breakpoint) {
    margin: 0;
  }
}

.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  .icon-bar {
    background-color: white;
  }
}

.navbar-toggle {
  border: none;
}

.navbar-nav > li > a {
  @media (min-width: $grid-float-breakpoint) {
    font-size: 150%;
  }
}

.navbar-brand-table {
  height: $navbar-height;
  color: white;
  font-family: 'Open Sans', Sans;
  font-weight: normal;
  font-size: $navbar-height - 32px;
  line-height: 100%;
  th {
    height: $navbar-height;
    font-weight: normal;
  }
  @media (min-width: $grid-float-breakpoint) {
    height: $navbar-desktop-height;
    font-size: $navbar-desktop-height - 40px;
    th {
      height: $navbar-desktop-height;
    }
  }
}

.container {
  padding: 0;
}

.top {
  overflow: auto;
  margin: 0;
  padding-top: $navbar-height;
  @media (min-width: $grid-float-breakpoint) {
    padding-top: $navbar-desktop-height;
  }
}

.navbar.navbar-default.navbar-fixed-top {
  margin: 0;
}

.home-page-top {
  height: 100vh;
  text-align: center;
  color: #fff;
  color: white;
  background: black;
  background-size: cover;
  background-image: image-url("lake.jpg");
  @media (min-width: $grid-float-breakpoint) {
    background-attachment: fixed;
  }
  h1 {
    font-family: 'Merriweather', Sans;
    font-size: 30px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 70px;
    }
  }
  .text-box {
    max-width: 700px;
    border-radius: 18px;
    //background:rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px 18px;
  }
}

.home-page-bottom {
  height: 100vh;
  color: white;
  background: black;
  h1 {
    font-family: 'Merriweather', Sans;
    font-size: 30px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 75px;
    }
  }
  .text-box {
    max-width: 700px;
    border-radius: 18px;
    display: inline-block;
    padding: 10px 18px;
  }
}

.call-to-action {
  overflow: auto;
  padding: 20px;
  font-size: 121%;
  .btn {
    border-radius: 10px;
    font-size: 76%;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;

    background: $color1;
    border: 0;
    &:hover, &:focus {
      background: $color1-dark;
    }
  }
  @media (min-width: $screen-lg-min) {
    font-size: 140%;
    .btn {
      font-size: 80%;
    }
  }
  .secondary {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 50%;
    margin-top: 30px;
    @media (min-width: $screen-lg-min) {
      margin-top: 60px;
    }
    .btn {
      background: $grey;
      &:hover, &:focus {
        background: $grey-dark;
      }
    }
  }
}

.icon-img {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  display: block;
}

.large {
  padding: 50px;
  font-size: 120%;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 52px;
  }
  h1 {
    font-size: 180%;
    line-height: 125%;
  }
}

.page-min-height {
  min-height: 100vh;
}

.features-top-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.color1 {
  color: $color1;
}

.color1-bg {
  background: $color1;
  color: white;
}

.color2 {
  color: $color2;
}

.color2-dark {
  color: $color2-dark;
}

.color3 {
  color: $color3;
}

.color4 {
  color: $color4;
}

.bold {
  font-weight: bold;
}

.basic-header {
  @extend .color1-bg;
  @extend .page-min-height;
  @extend .flex-center;
  h1 {
    padding: 0 20px;
    max-width: 1100px;
    font-family: 'Merriweather', Sans;
    font-size: 30px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 70px;
    }
  }
}