%nav.navbar.navbar-default.navbar-absolute-position
  .container.no-overflow
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
      %table.navbar-brand-table
        %tr
          %th
            = image_tag("logo.svg", alt: "Logo", class: "navbar-logo")
          %th
             Bullfrog Websites
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        %li= link_to "Work", work_path
        %li= link_to "Contact", contact_path
    / /.navbar-collapse
  / /.container
